<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Travel App</title>
        <link
            href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="container">
            <header class="header">
                <h1>Travel App</h1>
            </header>
            <main>
                <section class="tripSelection" id="tripSelection">
                    <header class="tripSelection__header">
                        <h2>Where do you want to travel next?</h2>
                    </header>
                    <form
                        class="form"
                        id="tripSelection__form"
                        action="#"
                        autocomplete="off"
                    >
                        <div class="form__errors">
                            <p
                                class="form__error error"
                                id="tripSelection__error--city"
                            ></p>
                            <p
                                class="form__error error"
                                id="tripSelection__error--startDate"
                            ></p>
                            <p
                                class="form__error error"
                                id="tripSelection__error--endDate"
                            ></p>
                        </div>
                        <div class="form__field form__city">
                            <label for="city" class="form__label"
                                >Destination</label
                            >
                            <div class="autocomplete">
                                <!-- This input element with autocomplete functionality is based on https://www.w3schools.com/howto/howto_js_autocomplete.asp-->
                                <input
                                    class="autocomplete__input"
                                    type="text"
                                    id="city"
                                    name="city"
                                    placeholder="City"
                                />
                            </div>
                        </div>
                        <div
                            class="form__date form__field form__date--start"
                            id="tripSelection__container--startDate"
                        ></div>
                        <div
                            class="form__date form__field form__date--end"
                            id="tripSelection__container--endDate"
                        ></div>
                        <input
                            class="form__submit"
                            type="submit"
                            value="Submit"
                            id="tripSelection__submit"
                        />
                    </form>
                </section>
                <section id="newTrip" class="newTrip"></section>
            </main>
            <footer class="footer">
                <div class="footer__credits">
                    <div class="footer__credits--apis">
                        <p>
                            Geographical data provided by
                            <a href="https://www.geonames.org/">GeoNames</a>
                        </p>
                        <p>
                            Weather data provided by
                            <a href="https://www.weatherbit.io/"
                                >weatherbit.io</a
                            >
                        </p>
                        <p>
                            Images provided by
                            <a href="https://pixabay.com/">Pixabay</a>
                        </p>
                    </div>
                    <div class="footer__credits--icons">
                        <p>
                            <a
                                href="https://erikflowers.github.io/weather-icons/"
                                >Weather Icons</a
                            >
                            by
                            <a href="http://www.twitter.com/erik_flowers"
                                >Erik Flowers</a
                            >
                            and
                            <a href="http://www.twitter.com/artill"
                                >Lukas Bischoff</a
                            >
                        </p>
                        <p>
                            Calendar and airplane icons made by
                            <a href="https://www.freepik.com" title="Freepik"
                                >Freepik</a
                            >
                            from
                            <a href="https://www.flaticon.com/" title="Flaticon"
                                >www.flaticon.com</a
                            >
                        </p>
                        <p>
                            Spinner made by
                            <a href="https://loading.io/spinner/">Loading.io</a>
                        </p>
                    </div>
                </div>
                <p>&copy; 2021 Pablo Asencio Sánchez</p>
            </footer>
        </div>
    </body>
</html>
