<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Travel App</title>
        <link
            href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <header>
            <h1>Travel App</h1>
        </header>
        <main>
            <section class="tripSelection">
                <header class="tripSelection__header">
                    <h2>Where do you want to travel next?</h2>
                </header>
                <form
                    class="form"
                    id="tripSelection__form"
                    action="#"
                    autocomplete="off"
                >
                    <div class="form__errors">
                        <p
                            class="form__error error"
                            id="tripSelection__error--city"
                        ></p>
                        <p
                            class="form__error error"
                            id="tripSelection__error--startDate"
                        ></p>
                        <p
                            class="form__error error"
                            id="tripSelection__error--endDate"
                        ></p>
                    </div>
                    <div class="form__field form__city">
                        <label for="city">Destination</label>
                        <div class="autocomplete">
                            <!-- This input element with autocomplete functionality is based on https://www.w3schools.com/howto/howto_js_autocomplete.asp-->
                            <input
                                class="autocomplete__input"
                                type="text"
                                id="city"
                                name="city"
                                placeholder="City"
                            />
                        </div>
                    </div>
                    <div
                        class="form__date form__field form__date--start"
                        id="tripSelection__container--startDate"
                    ></div>
                    <div
                        class="form__date form__field form__date--end"
                        id="tripSelection__container--endDate"
                    ></div>
                    <input
                        class="form__submit"
                        type="submit"
                        value="Submit"
                        id="tripSelection__submit"
                    />
                </form>
            </section>
            <section id="newTrip" class="newTrip">
                <header class="newTrip__header">
                    <h2>Your new trip</h2>
                </header>
                <article class="trip">
                    <header class="trip__header">
                        <h3
                            class="trip__header--destination"
                            id="newTrip__destination"
                        >
                            Destination
                        </h3>
                        <p class="trip__header--country" id="newTrip__country">
                            Province, COUNTRY
                        </p>
                    </header>
                    <div class="photo" id="newTrip__photo">
                        <p
                            class="photo__error error"
                            id="newTrip__photo--error"
                        ></p>
                        <figure class="photo__figure">
                            <picture class="photo__picture"></picture>
                            <figcaption
                                class="photo__caption"
                                id="newTrip__photo--caption"
                            ></figcaption>
                        </figure>
                    </div>
                    <section class="time">
                        <p class="time__date" id="newTrip__startDate">From:</p>
                        <p class="time__date" id="newTrip__endDate">To:</p>
                        <p class="time__duration">
                            Duration of the trip:
                            <span id="newTrip__duration">1 day</span>
                        </p>
                        <p class="time__daysToTrip">
                            Your trip is in
                            <span id="newTrip__daysToTrip">0 days</span>
                        </p>
                    </section>
                    <section id="newTrip__weather" class="weather"></section>
                </article>
            </section>
        </main>
        <footer>
            <p>&copy; Pablo Asencio Sánchez</p>
        </footer>
    </body>
</html>
