.weather {
    padding: 1rem;

    &__card {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 1rem;
        margin: 1rem 0;
        background-color: $magnolia;

        &--current {
        }

        &--forecast {
        }
    }

    &__header {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        color: $french-raspberry;
        font-size: 1.6rem;
        line-height: 1.5em;
    }

    &__descriptionIcon {
        font-size: 3em;
        padding: 0.5rem;
    }

    &__description {
    }

    &__temperature {
        display: grid;
        grid-template:
            'header header' 1fr
            'left   right' 3fr / 1fr 1fr;
        column-gap: 3rem;
        font-size: 1.6rem;
        line-height: 1.2em;

        h5 {
            grid-area: header;
        }

        &--real {
            grid-area: left;
        }

        &--feels {
            grid-area: right;
        }

        &--celsius {
        }

        &--fahrenheit {
        }
    }

    &__wind {
        display: grid;
        grid-template:
            'header header' 1fr
            'left   right' 3fr / 1fr 1fr;
        column-gap: 3rem;

        h5 {
            grid-area: header;
        }

        &Direction {
            grid-area: left;

            i {
                font-size: 2em;
            }
        }

        &Speed {
            grid-area: right;
            &--kmh {
            }

            &--mph {
            }
        }
    }
}

.icon--active {
    color: $cadet-blue;
    cursor: pointer;

    &:hover {
        color: $french-raspberry;
    }
}

@media only screen and (min-width: 768px) {
    .weather {
        &__card {
            max-width: 50%;
            &--current {
                max-width: 100%;
                min-height: 66%;
                display: grid;
                grid-template:
                    'header temperature' 1fr
                    'header wind' 1fr / 1fr 1fr;
            }
        }

        &__header {
            grid-area: header;
        }

        &__temperature {
            grid-area: temperature;
        }

        &__wind {
            grid-area: wind;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .weather {
        &__card {
            max-width: 30rem;
            &--current {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
            }
        }
    }
}
