.grid {
    display: grid;
    grid-template:
        'header'
        'main'
        'footer';
}

.header {
    grid-area: header;
    height: 10vh;
}

main {
    grid-area: main;
    min-height: 180vh;
}

.footer {
    grid-area: footer;
    height: 10vh;
}

.tripSelection,
.newTrip {
    min-width: 20rem;
    max-width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.tripSelection {
    height: 90vh;
    &__header {
        margin: 0 auto;
        transform: translateX(-25%);
    }
}

.photo {
    width: 100%;

    &__img {
        width: 100%;
    }

    &__logo {
        position: relative;
        height: 1em;
        top: 0.2em;
    }
}

.form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;

    &__field {
        display: flex;
        flex-flow: column nowrap;
        margin: 0.5rem 0;
        width: 100%;
        min-width: 20rem;
        max-width: 30rem;
    }

    &__errors {
        height: 3.2rem;
        align-self: flex-start;
        max-width: 30rem;
    }

    &__error {
        max-width: 30rem;
    }

    &__date--fallback {
        display: flex;
        flex-flow: row nowrap;
    }

    &__select {
        display: flex;
        flex-flow: column nowrap;
    }

    &__submit {
        flex-basis: content;
    }
}

.newTrip {
    &__header {
        margin: 0 auto;
        width: 100%;
    }
}

.trip {
    margin: 0 auto;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    main {
        min-height: 80vh;
    }

    .tripSelection {
        height: auto;

        &__header {
            margin: 0;
            transform: translateX(0);
        }
    }

    .form {
        margin: 0;
        display: grid;
        grid-template:
            'errors      errors' 1fr
            'destination destination' 1fr
            'startDate   endDate' 1fr
            'submit      submit' 1fr / 1fr 1fr;
        gap: 1rem 1rem;

        &__errors {
            grid-area: errors;
        }

        &__city {
            grid-area: destination;
            max-width: 62rem;
        }

        &__date {
            &--start {
                grid-area: startDate;
            }

            &--end {
                grid-area: endDate;
            }
        }

        &__submit {
            grid-area: submit;
            justify-self: center;
        }
    }

    .trip {
        display: grid;
        grid-template:
            'destination destination' 0.1fr
            'photo    photo' 2fr
            'time     weather' 1fr
            'forecast forecast' minmax(min-content, max-content) / 1fr 3fr;
        gap: 1rem;

        &__header {
            grid-area: destination;
        }
    }

    .photo {
        grid-area: photo;
    }

    .time {
        grid-area: time;
    }

    .weather {
        &--current {
            grid-area: weather;
        }
        &--forecast {
            grid-area: forecast;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .form {
        grid-template:
            'errors      errors    errors  errors' 1fr
            'destination startDate endDate submit' 1fr / 2fr 1fr 1fr 1fr;
    }

    .trip {
        grid-template:
            'destination destination destination' 0.1fr
            'photo       photo       time' 1fr
            'photo       photo       weather' 1fr
            'forecast    forecast     forecast' minmax(min-content, max-content)
            / 1fr 3fr 1fr;
    }
}
