.footer {
    background-color: $oxford-blue;
    color: $cadet-blue;
    text-align: center;

    a {
        text-decoration: underline dotted;

        &:hover {
            color: $magnolia;
            text-decoration: underline solid;
        }
    }
}
