/* SCSS HSL */
$cadet-blue: hsla(182, 32%, 49%, 1);
$orange-yellow-crayola: hsla(44, 86%, 70%, 1);
$magnolia: hsla(273, 33%, 94%, 1);
$oxford-blue: hsla(213, 96%, 11%, 1);
$french-raspberry: hsla(350, 60%, 48%, 1);
